body {
    height: 100vh;
    background-image: url(https://images4.alphacoders.com/702/702142.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#model-container{
    display:none;
    /* z-index:1;
    width:100%;
    height:100%; */
}

.popup {
    display:flex;
    justify-content:space-between;
    width: 6rem;
    padding: 8px;
    background: #D3CCE3;
    background: linear-gradient(to left, #E9E4F0, #D3CCE3);
    border-radius: 10px;
    position: relative;
    animation-name: animate-module;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes animate-module {
    from {
        top: 0;
        left: 50%
    }

    to {
        top: 15rem;
        left: 50%;
    }
}

.icon {
    width: 12px;
    font-size: 21px;
    color: red;
    cursor: pointer;
    border: 1px solid black;
}

.icon:active {
    border: 1px solid black;
}

button {
    position: relative;
    top: 27rem;
    left: 8rem;
    padding: 0.7rem;
    border: 2px solid white;
    border-radius: 16px;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    transition: all 0.2s linear;
}

button:hover {
    background-color: whitesmoke;
    color: black;
}


@media screen and (max-width:430px) {
    @keyframes animate-module {
        from {
            top: 0;
            left: 1rem;
        }

        to {
            top: 15rem;
            left: 1rem;
        }
    }
}
